# Output files
output/

# Binaries
bin/
*.a
*.lib
*.exe
*.o 
./*.obj
*.dll

!lib/*/*.dll

# VisualD and Visual Studio
*.sln
*.suo
*.visualdproj
*.exe_cv
*.pdb

# VIM
*.swp

# DUB
.dub/
dub.selections.json
dub.userprefs
